.logobox{
  text-align: center;
  .logo{
    height: 32px;
    margin: 16px;
  }
}
.ContentB{
  padding: 10px;
  .firstBreadcrumb + :global(.ant-breadcrumb-separator){
    display: none;
  }
  .Breadcrumb{
    margin:10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
  }
}
