.big_wrap{
  width: 100%;
  min-width: 320px;
  height: 100%;
  display: flex;
  .particles{
    position: fixed;
    z-index: -1;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f7fafc;
  }
  .login_wrap{
    display: flex;
    width: 100%;
    .row{
      width: 100%;
      .flexbox{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .components_form_login{
        .img_wrap{
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
          .img_width{
            max-width: 244px;
          }
        }
        .login_form_forgot {
          float: right;
        }
        .login_form_button {
          width: 100%;
        }
      }
    }
  }

}